
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

.dist/
.github
.venv/
Báo_cáo_giữa_kì/
source_code/
.env
cache.db 
DEMO_README.md
DOCKER_GUIDE.md
reports/
HippoRAG/
.vscode/
crawl_thuvien/
papers/
scrapy_crawler/
docker-build.ps1
docker-build.sh
docker-compose.yml
Dockerfile
faiss.index
gradio_app.py

package-lock.json
package.json
playwright.config.ts

.dockerignore
crawled_data/
data/
outputs/

__pycache__/